/* stylelint-disable docusaurus/copyright-header */

/* 
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
  */

/* 
.mainImage {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
} */

.hero--primary {
  --ifm-hero-background-color: var(--ifm-color-primary);
}

.heroBanner {
  padding: 2rem 0 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* clip-path: circle(50% at 50% 50%); */
}

.content {
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  max-width: 1280px;
  align-self: center;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  padding: 4rem 0 0;
  width: 100%;
  max-width: 1280px;
  align-self: center;
}

.featureImage {
  height: 300px;
  width: 300px;
}

.descriptionRow {
  justify-content: center;
  align-items: center;
  margin-left: unset !important;
  margin-right: unset !important;
}

.imgColumn {
  display: flex !important;
  justify-content: center;
}

.column {
  flex-direction: column;
  padding-bottom: 4rem;
}

.videoContainer {
  position: relative;
  width: 50%;
  min-width: 640px;
  align-self: center;
}

.videoContainer::after {
  padding-top: 53.57%;
  display: block;
  content: "";
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption {
  font-weight: 600;
  margin-top: 1rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .description {
    text-align: center;
  }

  .videoContainer {
    min-width: unset;
    width: calc(100% - 2rem);
  }

  .caption {
    margin-top: 0.5rem;
  }
}
